* {
  box-sizing: border-box;
}

.react_table {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.table_react {
  flex: auto 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.thead {
  flex: 100 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tbody {
  flex: 100 1 auto;
  // display: flex;
  flex-direction: column;
  overflow: visible;
}

.tr {
  flex: 100 0 auto;
  display: inline-flex;
  // height: 30px;
  width: 100%;
  // padding-left: 12px;
  // position: relative;
}

.tr_select > td:first-of-type{
  padding-left: 12px !important;
}
.tr_select:hover {
  height: 28px !important;
  cursor: pointer !important;
  // border: 1px solid #17a2b8 !important;
  color: #025766;
  font-weight: bold;
  // background-color: #17a2b8 !important;
  background-color: #acd8df !important;
  // background-color: #acd8df93 !important;// tem tranparencia
    
  // background-image: url("./image/arrow-34-16.png");
  background-image: url("./image/arrow-36-16.png");  
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 10px;
}

th,
.th {
  display: block !important;
  flex: 1 0;
  text-align: center;
  padding: 5px 5px !important;
  line-height: normal;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  // transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // box-shadow: inset 0 0 0 0 transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td,
.td {
  // display: block !important; // assim não semtralizava
  flex: 1 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 5px !important;
  height: 28px !important;
  overflow: hidden;
  transition: 0.3s ease;
  transition-property: width, min-width, padding, opacity;

  // foi colocado assim para centralizar
  display: flex;
  align-items: center;
}

.quebra_linha {
  white-space: unset;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  // background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.column_icon {
  padding: 0px !important;
  height: 28px;
}

.column_text_edit {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0px 5px;
  border: #cccccc solid 1px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.pagination {
  width: 100% !important;
  // text-align: center;
  display: inline-block;
  // padding-bottom: 0px;
  margin: 2px 0px 1px 0px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-radius: 4px;
}

@media (pointer: coarse) {
  // se for touch screen. Server para identificar celulares
  .pagination {
    text-align: center;
  }
}

.input_filter {
  width: 100%;
  outline-width: 0;
  background: #fff;
}

.teste_teste {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}

.input_search_btn_grid {
  margin: 0px !important;
  padding: 2px 7px !important;
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}

.btn_search_grid {
  // align-items: flex-end !important;
  // align-self: flex-end !important;
  margin: 0px !important;
  padding: 2px 7px !important;
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}

.pagination_button {
  width: 30px !important;
  background-color: #fff;
  border-color: #fff;
  // color: rgb(73, 80, 87);
  // color: #1f2d3d;
  // color: #3c8dbc ;
}

.pagination_button>i {
  // font-size: 18px;
  font-weight: 900 !important;
}

.pagination_button:disabled {  
  background-color: #fff;
  border-color: #fff;  
}

.pagination_button:focus {  
  background-color: #e2e6ea;
  // border-color: #fff;  
}

.pagination_button:hover {  
  background-color: #e2e6ea !important;
  // border-color: #fff;  
}

.pagination_button:hover:disabled {  
  background-color: #fff !important;
  // border-color: #fff;  
}

.pagination > span {
  padding: 0px 8px 0px 8px;
}

.pagination > select {
  background: #fff;
  outline-width: 0;
}

.pagination > span > input {
  text-align: center;
  width: 70px;
  outline-width: 0;
}
