.acaoNode {
    display: grid;
    grid-template-rows: calc(3, 1fr);
    border-radius: 5px;
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.acaoNode .node-title {
    display: flex;
    background-color: #d03edd3c;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    align-items: center;
}

.acaoNode .node-title i {
    margin-right: 8px;
    margin-left: 10px;
    color: #d03edd;
}

.acaoNode .node-content {
    margin: 10px 10px 0px 10px;
}

.acaoNode .node-content .item-content {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.acaoNode .node-content .item-content .titulo {
    color: gray;
}

.acaoNode .node-footer {
    margin: 0px 10px 10px 10px;
    text-align: right;
}

.acaoNode .node-button{
    margin-bottom: 10px;
    width: 220px;
    justify-self: center;
}
.acaoNode .node-button span {
    border: 2px dashed #d03edd;
    color: #d03edd;
}

.acaoNode .node-button :hover {
    background-color: #d03edd3c;
}

.acaoNode .node-content .item-content {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
}

.acaoNode .node-content .item-content .btn-excluir{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    width: 30px;
    color: #ec6c6cb9;
    align-self: center;
    font-size: 15px;
}

.acaoNode .node-content .item-content .btn-excluir:hover{
    cursor: pointer;
    color: #f35e5e;
}


.acaoNode .node-content .item-content:hover{
    background-color: #d03edd3c;
}

.acaoNode .node-content .item-content .item-titulo {
    color: gray;
}

.acaoNode .node-content .hr-item{
    margin: 10px;
}

.acaoNode .node-content .input-tag{
    width: 200px;
    border-radius: 5px;
    padding-left: 5px;
    border: 0.2px solid silver;
    margin-top: 5px;
}

.acaoNode .select-tag{
    border: none;
    padding: 5px;
    margin: 5px 15px 0 0;
    border-radius: 5px;
}